# Virtual Environment
venv/
.venv/
backend/venv/

# Environment Variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
